@model CarRentCM.Features.CQRS.Results.BrandResults.GetBrandByIdQueryResult

@{
    Layout = "_adminLayout";
    ViewData["Title"] = "CreateBrand";
}

<h1>Marka</h1>

<h4>Marka Güncelleme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="BrandId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Marka Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BrandList">Listeye Dön</a>
</div>


