
<head>
    <title>CarRental &mdash; Free Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/carrentals-master/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/carrentals-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/carrentals-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/carrentals-master/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/carrentals-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/carrentals-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/carrentals-master/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/carrentals-master/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/carrentals-master/css/style.css">

</head>
